.header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 20px -13px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.headerMaxWidth {
    width: min(100%, 1360px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLogo img {
    height: 100%;
}

.headerNav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

a {
    color: rgb(6, 77, 53);
    font-family: "Nunito", sans-serif;
}